<div class="app-form">
	
	<div class="box box-primary">
		<div class="box-header with-border">
			{{#if title}}
			<div class="box-title">
				{{title}}
			</div>
			{{/if}}

			<div class="box-body">
				{{#if errors}}
				<div class="alert alert-danger">
					<ul>
						{{#each errors as |error|}}
						<li>
							{{error.message}}
							{{#if error.code}} ({{error.code}}){{/if}}
						</li>
						{{/each}}
					</ul>
				</div>
				{{/if}}

				{{em-input property="name" label="Name" placeholder="Name"}}
				
				{{em-select
            label="Language"
            property="language"
            content=languageOptions
            optionValuePath="id"
            optionLabelPath="name"
            prompt="--select--"}}
				{{em-input property="title" label="Title" placeholder="Title"}}
				{{em-input property="slug" label="Slug" placeholder="Slug"}}

				{{em-text property="listSummary" label="List Summary" rows=2}}
				{{em-text property="summary" label="Summary" rows=3}}
				{{app-form-ckeditor model=model field="content" label="Content" }}

				{{#if allowTags}}
				{{appkit-form-tags model=model tagGroup="pages" }}
				{{/if}}
					
				{{#if (and allowFiles model)}}
				{{appkit-form-files parentModel=model parentField="files" title="Files" bucket="pages" canOrder=true}}
				{{/if}}

				{{#if allowMenuItem}}

				{{/if}}

			</div>
		</div> <!-- ./.box-body -->

		<div class="box-footer">
			{{#if loading}}
			<div class="" style="position: relative;">
				{{ember-spinner}}
			</div>
			{{else}}
			<button class="btn btn-default" {{action "formCancelled" }}>Cancel</button>
			<button class="btn btn-info" {{action "submit"}}>Save</button>
			{{/if}} 
		</div>
	</div>  <!-- ./.box -->

</div> <!-- ./.app-form -->
